body {
    font-family: Arial, sans-serif;
    background-image: url('./imghw7-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
  
  .login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 100px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #186405;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .success {
    color: #4caf50;
    font-weight: bold;
  }
  
  .check-option,
  .check-pass,
  .check-user {
    color: red;
  }
  
  .user,
  .pass,
  .ro {
    margin-top: 10px;
    font-weight: bold;
  }
  